* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/*
  Mixins for displaying the section in flex.
*/
/*
  Mixins for the button styles
*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  overflow-x: hidden;
  background: #f7f7f7;
}

header {
  background: #292b2c;
  padding: 1rem;
  width: 100%;
}

header h1 {
  color: #f7f7f7;
  font-size: 2rem;
}

header h3 {
  font-size: 1rem;
  color: #5bc0de;
}

@media only screen and (min-width: 992px) {
  header {
    text-align: center;
  }
  header h1 {
    font-size: 3rem;
  }
  header h3 {
    font-size: 1.5rem;
  }
}

main {
  height: 100%;
}

@media only screen and (min-width: 992px) {
  main {
    width: 70%;
    height: 50vh;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 60%;
  }
}

/* TASK TRACKER STYLES 
  It contains the header and the list of tasks of the user. */
#task-tracker {
  padding: 1rem;
}

#task-tracker .task-tracker-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

#task-tracker .task-tracker-header .input-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

#task-tracker .task-tracker-header .input-sections label {
  font-weight: 700;
  font-size: 1.1rem;
}

#task-tracker .task-tracker-header .input-sections input,
#task-tracker .task-tracker-header .input-sections button {
  padding: 5px;
  font-size: 1rem;
}

#task-tracker .task-tracker-header .input-sections #add-button {
  padding: 5px;
  font-size: -1rem;
  background-color: #5cb85c;
  border: 1px solid black;
  cursor: pointer;
}

#task-tracker .task-tracker-header .input-sections #add-button:active {
  background: #449d44;
}

#task-tracker .task-tracker-header #adding-message {
  font-weight: bold;
  display: none;
}

@media only screen and (min-width: 768px) {
  #task-tracker {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  #task-tracker {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.6fr 1fr;
        grid-template-columns: 0.6fr 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    width: 100%;
    height: 50%;
  }
}

/* 
  TASKS STYLES
  A unordered list that consist of all the list items.
*/
@media only screen and (min-width: 992px) {
  .main-task-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
}

#tasks {
  list-style-type: none;
  overflow-y: auto;
  height: 50vh;
  border: 1px solid #ccc;
}

@media only screen and (min-width: 992px) {
  #tasks {
    max-height: 30vh;
  }
}

#tasks .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ccc;
  padding: 0.5rem;
  /* Section that contains the TASK CONTENT and the DATE CONTENT */
  /* Section that contains the UPDATE and DELETE buttons. */
  /* Section that contains the input tags and buttons for updating the task */
}

#tasks .task .task-section #task-content {
  font-size: 1.2rem;
  font-weight: bold;
  word-break: break-all;
}

#tasks .task .task-section #date-content {
  font-weight: 600;
  font-family: Rockwell, sans-serif;
}

#tasks .task .button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tasks .task .button-section * {
  margin: 2px;
  cursor: pointer;
}

#tasks .task .button-section #update-button {
  padding: 5px;
  font-size: 1rem;
  background-color: #5bc0de;
  border: 1px solid black;
}

#tasks .task .button-section #delete-button {
  padding: 5px;
  font-size: 1rem;
  background-color: #d9534f;
  border: 1px solid black;
}

#tasks .task .button-section #update-button:active {
  background: #31b0d5;
}

#tasks .task .button-section #delete-button:active {
  background: #c9302c;
}

#tasks .task .update-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  display: none;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  #tasks .task .update-section {
    width: 50%;
  }
}

#tasks .task .update-section section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin: 5px 0;
}

#tasks .task .update-section section input,
#tasks .task .update-section section button {
  padding: 5px;
  font-size: 1rem;
}

#tasks .task .update-section .error-message {
  color: #d9534f;
  font-weight: bold;
  display: none;
}

#tasks .task .update-section .update-button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#tasks .task .update-section .update-button-section * {
  margin: 0 5px;
}

#tasks .task .update-section .update-button-section #done-button {
  padding: 5px;
  font-size: 1rem;
  background-color: #5cb85c;
  border: 1px solid black;
  cursor: pointer;
}

#tasks .task .update-section .update-button-section #cancel-button {
  padding: 5px;
  font-size: 1rem;
  background-color: #5bc0de;
  border: 1px solid black;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  padding: 1rem;
}

footer .logo-section {
  margin: 1rem;
}

footer .logo-section img {
  display: block;
  width: 8rem;
  margin: 0 auto;
}

footer .accounts-section img {
  width: 3rem;
  margin: 0 5px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  cursor: pointer;
}

footer .accounts-section img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .copyright-section small {
  color: white;
  display: block;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
