@import "./config", "./deviceWidth";

body {
  @include displayFlex(column, none, space-between);
  height: 100vh;
  overflow-x: hidden;
  background: $bodyColor;
}

// MAIN TAG STYLES.
main {
  height: 100%;

  // MEDIA QUERIES
  @include lg {
    width: 70%;
    height: 50vh;
    margin: 0 auto;
  }
  @include desktop {
    width: 60%;
  }
} // END OF MAIN TAG STYLES

/* 
  TASKS STYLES
  A unordered list that consist of all the list items.
*/
.main-task-container {
  @include lg {
    @include displayFlex(column, none, none);
  }
}
