@import "./config", "./deviceWidth";

body {
  @include displayFlex(column, none, space-between);
  height: 100vh;
  overflow-x: hidden;
  background: $bodyColor;
}

// HEADER TAG STYLES
header {
  background: $headerColor;
  padding: 1rem;
  width: 100%;

  h1 {
    color: $bodyColor;
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
    color: $infoColor;
  }

  // MEDIA QUERIES
  @include lg {
    text-align: center;
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
} // END OF HEADER

// MAIN TAG STYLES.
main {
  height: 100%;

  // MEDIA QUERIES
  @include lg {
    width: 70%;
    height: 50vh;
    margin: 0 auto;
  }
  @include desktop {
    width: 60%;
  }
} // END OF MAIN TAG STYLES

/* TASK TRACKER STYLES 
  It contains the header and the list of tasks of the user. */
#task-tracker {
  padding: 1rem;

  .task-tracker-header {
    @include displayFlex(column, none, none);

    .input-sections {
      @include displayFlex(column, none, space-between);
      margin: 5px 0;

      label {
        font-weight: 700;
        font-size: 1.1rem;
      }
      input,
      button {
        padding: 5px;
        font-size: 1rem;
      }
      #add-button {
        @include buttonStyles(5px, -1rem, $successColor);
        cursor: pointer;
      }
      #add-button:active {
        background: darken($successColor, 10%);
      }
    }

    #adding-message {
      font-weight: bold;
      display: none;
    }
  }

  // MEDIA QUERIES
  @include mediumSize {
    width: 70%;
    margin: 0 auto;
  }
  @include lg {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    column-gap: 1rem;
    width: 100%;
    height: 50%;
  }
}

/* 
  TASKS STYLES
  A unordered list that consist of all the list items.
*/
.main-task-container {
  @include lg {
    @include displayFlex(column, none, none);
  }
}

// The <ul> tag
#tasks {
  list-style-type: none;
  overflow-y: auto;
  height: 50vh;
  border: 1px solid #ccc;
  @include lg {
    max-height: 30vh;
  }
  // The <li>' tag
  .task {
    @include displayFlex(column, flex-start, space-between);
    border: 1px solid #ccc;
    padding: 0.5rem;
    /* Section that contains the TASK CONTENT and the DATE CONTENT */
    .task-section {
      #task-content {
        font-size: 1.2rem;
        font-weight: bold;
        word-break: break-all;
      }
      #date-content {
        font-weight: 600;
        font-family: Rockwell, sans-serif;
      }
    }

    /* Section that contains the UPDATE and DELETE buttons. */
    .button-section {
      @include displayFlex(row, none, space-between);
      * {
        margin: 2px;
        cursor: pointer;
      }
      #update-button {
        @include buttonStyles(5px, 1rem, $infoColor);
      }
      #delete-button {
        @include buttonStyles(5px, 1rem, $dangerColor);
      }
      #update-button:active {
        background: darken($infoColor, 10%);
      }
      #delete-button:active {
        background: darken($dangerColor, 10%);
      }
    }

    /* Section that contains the input tags and buttons for updating the task */
    .update-section {
      @include displayFlex(column, none, none);
      display: none;
      width: 100%;

      // Media Queries for large screen
      @include lg {
        width: 50%;
      }
      section {
        @include displayFlex(column, none, none);
        margin: 5px 0;
        input,
        button {
          padding: 5px;
          font-size: 1rem;
        }
      }
      .error-message {
        color: $dangerColor;
        font-weight: bold;
        display: none;
      }
      .update-button-section {
        @include displayFlex(row, center, flex-end);
        width: 100%;

        * {
          margin: 0 5px;
        }
        #done-button {
          @include buttonStyles(5px, 1rem, $successColor);
          cursor: pointer;
        }
        #cancel-button {
          @include buttonStyles(5px, 1rem, $infoColor);
          cursor: pointer;
        }
      }
    }
  }
} // END OF TASKS CONTAINER STYLES.

// FOOTER STYLES
footer {
  @include displayFlex(column, center, center);
  background: black;
  padding: 1rem;
  .logo-section {
    margin: 1rem;
    img {
      display: block;
      width: 8rem;
      margin: 0 auto;
    }
  }
  .accounts-section {
    img {
      width: 3rem;
      margin: 0 5px;
      filter: invert(100%);
      transition: transform 300ms;
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  .copyright-section small {
    color: white;
    display: block;
    text-align: center;
  }
  @include lg {
    height: fit-content;
  }
} // END OF FOOTER STYLES
