@import "./config", "./deviceWidth";
/* TASK TRACKER STYLES 
  It contains the header and the list of tasks of the user. */
#task-tracker {
  padding: 1rem;

  .task-tracker-header {
    @include displayFlex(column, none, none);

    // Styles for INPUT SECTIONS AND ITS CHILD ELEMENTS.
    .input-sections {
      @include displayFlex(column, none, space-between);
      margin: 5px 0;

      label {
        font-weight: 700;
        font-size: 1.1rem;
      }
      input,
      button {
        padding: 5px;
        font-size: 1rem;
      }
      input {
        outline: none;
      }
      #add-button {
        @include buttonStyles(5px, -1rem, $successColor);
        cursor: pointer;
      }
      #add-button:active {
        background: darken($successColor, 10%);
      }
    }

    #adding-message {
      font-weight: bold;
      display: none;
      @include desktop {
        font-size: 1.1rem;
      }
    }
  }

  // MEDIA QUERIES
  @include mediumSize {
    width: 70%;
    margin: 0 auto;
  }
  @include lg {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    column-gap: 1rem;
    width: 100%;
    height: 50%;
  }
}
